@model TesteEstacionamento.Models.ValorModel

@{
    ViewData["Title"] = "Edit";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="InicioVigencia" class="control-label"></label>
                <input type="date" asp-for="InicioVigencia" class="form-control" />
                <span asp-validation-for="InicioVigencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TerminoVigencia" class="control-label"></label>
                <input type="date" asp-for="TerminoVigencia" class="form-control" />
                <span asp-validation-for="TerminoVigencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorInicial" class="control-label"></label>
                <input asp-for="ValorInicial" class="form-control" />
                <span asp-validation-for="ValorInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorAdicional" class="control-label"></label>
                <input asp-for="ValorAdicional" class="form-control" />
                <span asp-validation-for="ValorAdicional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" /> |
                <a class="btn btn-secondary" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

<div>
  
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
    </script>
}
